* {
  text-align: center;
  
}

body {
  width: 100%; 
  height: 100%;
}

.main {
  max-height: 90vh;
}

nav {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(13, 88, 117);
  color: white;
}

.navlinks {
  display: flex;
  width: 40%;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.todos {
  width: 75%; 
  box-sizing: border-box;
  padding: 10px;
  float: left;
}

.footer {
  min-height: 10vh;
  line-height: 50px;
  margin-top: 200px; 
  position: fixed;
  bottom: 0;
  top: 60vh; 
}

.weather {
  width: 25%; 
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 45px;
  float: left;
  margin: 0 auto;
}

.buttonStyles {
  min-width: 100px; 
  min-height: 30px;
  display: block;
  margin: 10px auto;
}

.inputStyles {
  width: 50vmin;
  min-height: 30px; 
  margin: 5px auto; 
  border-radius: 4px; 
  font-size: 16px;
}

@media screen and (max-width: 476px) {
  .todos {
    width: 100%;
    height: 100vh;
    clear: both;
  }
  .weather{
    position: relative; 
    top: 60vh;
    width: 100%;
    clear: both; 
  }

  .footer {
    min-height: 150px;
    line-height: 50px;
    margin-top: 200px; 
    position: relative;
    bottom: 0; 
  }

  .inputStyles {
    width: 80vmin;
    margin: 0 auto; 
  }
}

